@{
    ViewData["Title"] = "Home Page";
}
<div id="dataStorage"></div>
<div id="notifyDiv"></div>
@section Scripts{
    <script>
        $.notify.addStyle('happyblue', {
            html: "<div>☺<span data-notify-text/>☺</div>",
            classes: {
                base: {
                    "white-space": "nowrap",
                    "background-color": "lightgreen",
                    "padding": "5px",
                    "font-size": "80px"
                }
            }
        });
        $(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/myHub").build();

            connection.start().then(function () {
                getData();
            });

            connection.on("RefreshMessage", function () {
                getData();
                $('#notifyDiv').notify("IMATE NOVU NARUDŽBU ! ! !", {
                    autoHideDelay: 10000,
                    style: 'happyblue'
                });
            });
        });
        function getData() {
            var container = $('#dataStorage');
            $.ajax({
                url: '/Home/GetData',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).done(function (result) {
                container.empty().append(result);
            });
        }
    </script>
}
